
html{
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}


.sitio-header{
    position:relative;
}
body{
    background-color: #969696fb !important;
}
/*-----------globales-------*/
.contenedor{
    width:98% ;
    margin:0 auto;
}

@media only screen and (min-width:480px){
    .contenedor{
        width:95% !important; 
    }
}
@media only screen and (min-width:768px){
    .contenedor{
        width:90% !important;
       
    }
}
@media only screen and (min-width:992px){
    .contenedor{
        width:95% !important;
        max-width:1100px;
    }
}

.seccion{
    padding: 35px 0 ;
    
}
.seccion p {
    font-size:1.2em;
}
h2{
   font-family: 'Oswald', sans-serif;
   font-size: 2em;
   text-align:center;
   text-transform: uppercase;
   font-weight:bold !important;
 
}

/*----------termino de globales------------------*/

/*------- Parte del header-----*/
div.ima{
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/YDXJ69TOAL.jpg");
    height: 100vh;    
    background-position: center;
    background-size: cover;
}

div.contenido-header{
    padding-top: 30px ;   
}

@media only screen and (min-width: 768px) {
    div.contenido-header{
        padding-top: 10px;
    }
}

nav.redes{
    text-align: center;
}

nav.redes a{
    color: rgba(6, 20, 80, 0.945);
    font-size: 40PX;
    margin:17.5px;
    text-decoration: none;
}

nav.redes-sociales a:last-child{
    margin-right:0;
}

div.Informacion{
    text-align:center;
    color: rgb(241, 236, 236);
   
}
@media only screen and (min-width: 768px) {
    div.Informacion{
        width: 70%;
        margin:0 auto;
        margin-top:40px;
    }
}
div.Informacion p{
    margin:0;
    padding:0;
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;

}
div.Informacion p i{
    color:rgba(6, 20, 80, 0.945);
    font-size:2em;

}
p.nombre{
    float:left;
    
}
p.fecha{
    float:right;
    text-align:right;
}

h1.nombre-sitio{

    font-family: 'Anton', sans-serif;
    color: #cecece;
    font-size: 8vw;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
    .nombre-sitio{
        color:rgba(0,0,0,0);
        font-size: 11.5vw;
        margin:0;
    }
}
/*----------------------- termino del encabezado---------------------------*/
/*lettering*/
h1.nombre-sitio span{
    position: relative;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.808);
}


p.slogan{
    
    font-family: 'Karla', sans-serif !important;
    text-transform: none !important;
    color: #727cec;
    font-size: 2.5vw !important; 
}

div.barra{
    position: relative;
    background-color: rgb(207, 211, 211);
    padding:20px 0px;
    height: 60px;
}
.fixed{
    position:fixed !important;
    width: 100%;
    top:0;
    left:0;
    z-index:2;
}
@media only screen and (max-width: 1100px) {
    p.slogan{
   font-family: 'Karla', sans-serif !important;
    text-transform: none !important;
    color: #e5e7f8;
    font-weight:bold; 
    font-size: 3.5vw !important; 
    }
}
/*
div.logo{
    width:100%;
    height:40px;
    
}
div.logo img{
    margin-left: 15px;
    width:8%;
    
}

@media only screen and (min-width:768px) {
    div.logo img{
        width: 10%;
        float: left;
    }
}*/

/*-----------barra de navegacion-----------*/

nav.navegacion_prin{
    display:none;
    width:100%;
    
}

nav.navegacion_prin a{
    font-family: 'Oswald', sans-serif;
    color: rgb(51, 46, 46);
    font-size:1.3em;
    text-decoration: none;
    transition: all .5s ease;
    width:100%;
    display:block;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}


nav.navegacion_prin a:hover{
    background-color: rgba(2, 12, 161, 0.459);
    color:white;
}

nav.navegacion_prin a:first-child{
    border: 2px solid #383737;
}
nav.navegacion_prin a:first-child:hover{
    border: 2px solid rgba(2, 12, 161, 0.459);
}
@media only screen and (min-width:768px) {
    nav.navegacion_prin{
        position:absolute;
        width:100%;
        top:5px;
        text-align:center;
        display:block; 
        
    }

    nav.navegacion_prin a{
    margin-right: 10px;
    padding: 10px 15px;
    width:auto;
    display:inline-block;
    text-align: center;
    margin:0,10px,0,0; 
    }
}
/*---------- termino de barra de navegacion--------*/
/*-----menu para moviles----*/
.menu-sandwich{
    position:absolute;
    bottom: 5px;
    right: 10px;
    width: 50px;
    margin-right:10px;
}

.menu-sandwich:hover{
    cursor: pointer;
}

@media only screen and (min-width:768px) {
    .menu-sandwich{
        display:none;
    }
}

div.menu-sandwich span{
    height:6px;
    margin-bottom: 6px;
    background:rgb(48, 47, 47);
    display:block;
}
/************termino de menu para moviles******************/
/*GALERIA*/

padre:after{
    content: '';
	display: block;
	clear: both;
}
.padre{
    margin: 10px 0;
    background: linear-gradient(to right, 
    rgba(221, 223, 226, 0) , 
    rgb(219, 224, 231));
    height: 350px;
    }

div.imagen{
    float: left ;
    width: 40%;
    margin: 30px 10px;
}
div.imagen img{
    width: 100%;
}
div.texto{
    width: 40%;
    float:right;
    margin: 20px 35px 0 0;
    padding: 2px;
    }

  /*Seccion de la imagenes de flex-colum*/
   .secimg{
    background: linear-gradient(to right, 
    rgba(221, 223, 226, 0) , 
    rgb(219, 224, 231)) !important;
   }
   .mg{
    padding: 4px 4px;
    display: flex;
    flex-wrap: nowrap;
    }
   .ha{
        flex: 40%;
        max-width: 50%;
        padding: 0 4px;
    }
    .ha div{
        /*desborde*/
        overflow: hidden;
    }
    .ha div img{
        position: relative;
        margin-top: 8px;
        vertical-align: middle;
        max-width: 100%;
        -webkit-transition: all .5s ease-in-out;
         /*prejijos, en un navegador que utiliza webkit agrega estilos y funciones especificas*/
    }
    .ha div:hover img{
        -webkit-transform: scale(1.2);
    }
      /*-------------------GALERIA-------*/
    /*-----noticiia-----*/
    
    ul{
    list-style: none;
    margin: 0 ;
    padding:0;
    }
    ul.listatop li{
     padding:10px;
     float: left;
     margin:2px;
     background: linear-gradient(to top, 
     rgba(221, 223, 226, 0) , 
     rgb(219, 224, 231)) ;
    }
    @media only screen and ( min-width:480px)
    {
        ul.listatop li{
            width:100%;
           }
    }
    @media only screen and ( min-width:768px)
    {
        ul.listatop li{
            width:32%;
           }
    }

    .noticia{
        position: relative;
        overflow: hidden;
        font-family: 'Oswald', sans-serif;
        color: white;
        text-transform: uppercase;
    }
    .noticia img{
       max-width:100%;
       cursor: pointer;
       filter:gray;
       -webkit-filter: grayscale(1); 
       -webkit-transition: all .5s ease-in-out; 
        /*prejijos, en un navegador que utiliza webkit agrega estilos y funciones especificas*/
    }

    .noticia:hover img{
        -webkit-filter: grayscale(0); 
        -webkit-transform: scale(1.2);
    }
    .noticia p{
        position: absolute !important;
        bottom:0;
        left: 0;
        padding: 10px 15px;
        margin:0;
        background-color: rgba(0, 0, 0, 0.589)!important;
        width:100%;
        -webkit-transition: all .5s ease-in-out;
    }
    .noticia:hover p{
        bottom: -40px;
        opacity:0;  
    }
     /*-----termino de noticiia-----*/
    
    footer{
        background-color: rgba(41, 58, 133, 0.911);
        padding-top:30px;
        margin-top:20px;
    }

    footer .contenedor > div{
       color: #ffff;
       padding: 0 20px;
       font-size: 12px;     
    }
    @media only screen and ( min-width:768px)
    {
        footer .contenedor > div{
        width: 33.3%;
        float: left;
        }
    }
    footer h3{
        font-family: 'Karla', sans-serif;
        margin-bottom: 20px;
    }
    foteerinfo p{
        text-align: justify;
    }

    footer h3 span{
        color: rgb(58, 120, 245)
    }

    nav.redess{
        text-align: center;
    }
    
    nav.redess a{
        color: rgba(255, 255, 255, 0.945);
        font-size: 40PX;
        margin:17.5px;
        text-decoration: none;
    }
    .con{
        width:100%;
    }

    .con:last-child p{
        float:right;
        width: 50%;
         background-color: rgba(0, 0, 0, 0.952); 
        color:#ffff;
        padding:5px 0;
        margin:0;
        text-align: center; 
        
    }
    
    .copyright{
        float:right;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.952); 
        color:#ffff;
        padding:5px 0;
        margin:0;
        text-align: center; 
    }
   